h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5pc;
    color: blue;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.galeryReposiveFlexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* Centrar el contenedor en el escritorio */
}

.christGallery {
    flex: 1 1 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.333);
}

.cristhynGallery {
    flex: 1 1 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.257);
}

.photoChrist {
    flex: 1 1 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.333);
}

.photoCristhyn {
    flex: 1 1 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.257);
}

.portraitChrist {
    flex: 1 1 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.333);
}

.portraitCristhyn {
    flex: 1 1 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.257);
}

.selfieChrist {
    flex: 1 1 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.333);
}

.selfieCristhyn {
    flex: 1 1 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.257);
}
.christGallery img, 
.cristhynGallery img,
.photoChrist img,
.photoCristhyn img,
.portraitChrist img,
.portraitCristhyn img,
.selfieChrist img,
.selfieCristhyn img {
    width: 100%;
    height: 250px; 
    
    /* ¡La corrección va AQUÍ! */
    object-fit: contain; 
    
    display: block;
}